<h2>At a glance</h2>
<hr/>

<div class="card-group" style="background-color: #cfe3ff;">
    <div class="card card-inherit" style="border-radius: 0; border: 0px;">
        <div class="card-body">
            <h2 class="card-title">Name</h2>
        </div>
    </div>

    <div class="card card-inherit" style="border-radius: 0; border: 0px;">
        <div class="card-body">
            <h2 class="card-title">Username</h2>
        </div>
    </div>

    <div class="card card-inherit" style="border-radius: 0; border: 0px;">
        <div class="card-body">
            <h2 class="card-title">Current Balance</h2>
        </div>
    </div>
    
    <div class="card card-inherit" style="border-radius: 0; border: 0px;">
        <div class="card-body">
            <h2 class="card-title">Items Owned</h2>
        </div>
    </div>
</div>